{% extends 'base/base.html' %}
{% load static %}

{% block 'title'%}
<title> GMAX ..
    {{listing.model }}Listing
</title>
{% endblock %}

{% block 'body'%}
<main>
    <section class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-6">
                <h1 class="display-5 fw-bold lh-2 mb-3">{{ listing.model}}</h1>
                <p class="lead">{{ listing.seller.user.username}}</p>
            </div>
            <div class=" col-10 col-sm-8 col-lg-6">
                <img src="{{listing.image.url}}" class="d-block mx-lg-auto img-fluid" width ="1920" height="1080"
                     loading="lazy"/>

            </div>

        </div>

    </section>
    <!--Stylin for the table part under the car information-->
    <div class="bg-light">
        <div class="container px-3 py-5">
            <h2 class="mb-3 border-bottom" style="color: red">CAR INFORMATION</h2>
            <div class="row row-cols-1 row-cols-md-4 mb-3 text-center ">
                <div class="col-lg-8">
                    <div class="table-responsive">
                        <table class="table text-center">
                            <tbody>
                                <tr>
                                    <th scope="row" class="text text-start">Brand</th>
                                    <td class="py-3">{{ listing.brands|capfirst}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text text-start">Vin</th>
                                    <td class="py-3">{{ listing.vin|capfirst}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text text-start">Mileage</th>
                                    <td class="py-3">{{ listing.mileage}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text text-start">Color</th>
                                    <td class="py-3">{{ listing.color|capfirst}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text text-start">Transmission</th>
                                    <td class="py-3">{{ listing.transmission|capfirst}}</td>
                                </tr>
                                <tr>
                                    <th scope="row" class="text text-start">Engine</th>
                                    <td class="py-3">{{ listing.engine|capfirst}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--Stling for the Location part-->
                <div class="col-lg-4">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3 bg-primary">
                            <h4 class="my-0 fw-normal ">Location</h4>

                        </div>
                        <div class="card-body">
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>{{listing.location.city}}, {{listing.location.state}},
                                    {{listing.location.zip_code}}</li>
                            </ul>
                            <button class="btn btn-lg w-100 btn-success my-3">
                                {{listing.seller.phone_number}}</button>
                            <button class="btn btn-lg w-100 btn-success my-3">
                                Send Email</button>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</main>
{% endblock %}
