 {% extends 'base\base.html' %}
 {% load static %}

{% block 'body' %}

<div class="d-flex flex-column h-100 text-white index">

   
    <header class="p-3">
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="mb-0">Gmax</h3>
            <nav class="nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="#">Login</a>
            </nav>
        </div>
    </header>

    <main class="flex-grow-1 d-flex justify-content-center align-items-center">
        <div class="w-90 text-center">
           
             <h2>Find the deal near you!! !</h2>
            <p class="lead text-black">Looking to buy or sell used car? We've got <br>you 
                covered.</br>GMAX is the leading used  car marketplace
            </p>
                
            <p class= "lead">
                <a href="" 
                class=" btn btn-lg btn-secondary fw-bold border-white bg-black">Register</a>
            </p>
        </div>
    </main>
    <div>
        <!-- Footer section -->
        <footer class="text-center text-white-50 bg-dark py-4">
            <p>Copyright © {% now 'Y' %} <a href="#" class="text-white">GMAX</a> by <a href="#" class="text-white">Joseph Gichohi</a></p>
        </footer>
    </div>

    
</div>

{% endblock %}
{% block 'footer'%}

{% endblock %}