<div class="card shadow-md ">
    <img class= "bd-background-img card-img-top" width="100%" src="{{listing.image.url}}" role="img"
    arial-label="Placeholder: Thumbnail" focusable="false">
    <div class="card-body">
        <h4 class="card-text">{{ listing.model}}</h4>
    
        <div class="row justify-content-start align-items-center g-3">
            
            <div class="col-1">
                
                <img src="" class="rounded-circle" height="30" width-"30"
                    style="object-fit: cover;">
            </div>
            <div class="col-4">
                
                <p class="card-text">{{listing.seller.user.username}}</p>
            </div>
        </div>
        <br>
        <p class="card-text">{{listing.description}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a class="btn btn-sm btn-outline-secondary" type="button">
                    view 
                </a>
                {% if listing.seller.user == request.user %}
                <a href="" type="button btn-sm" class="btn btn-secondary">Edit</a>
                {% endif %}
            </div>
            <small class="text-muted">{{ listing.updated_at}}</small>
            <button value="like" class="btn btn-outline-success btn-sm" type="button">
                :)
            </button>

        </div>
    </div>

</div>