{% extends 'base/base.html '%}
{% load static %}

{% block 'body' %}
 <div class = "text-center">

    <main class = "form-signin"> 
        <form action="" method="post">
            <img class= "mb-4" src={ % static 'images/logo.png ' %} alt="" width="75" height="75">
            {{ login_form}}
            <button class="w-80 btn btn-danger bg-black" type="submit" >Sign In</button>
        <p class="mt-5 mb-3 text-muted">Copyright © {% now  'Y' %} Gmax </p>
        </form>

    </main>
 </div>

{% endblock %}



{% block 'footer' %}
{% endblock %} 

